{% extends 'index.html' %}

{% block conteudo %}
  <style>
    .solicitado {
      border-style: hidden;
    }
  .grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    background-color: ;
    padding: 10px;
  }

  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }    
  </style>
  <script>
    const button = document.querySelector('button');

    button.addEventListener('click', (e) => {
      button.classList.toggle('solicitado');
    })
  </script>
  <br>
  <br>
  <main role="main" class="container"> 
      <h1 align="center">Cartelas Disponíveis!</h1>    
        <table class="container" width="100px" >
        <tbody>          
                <tr>                
                {% for i in range(15) %}
                <td align="center"> <button class= "solicitado" style="height:36px;width:47px" type="submit">{{i+1}}</button> </td>
                {%endfor%}
                </tr> 
                <tr>
                {% for i in range(15, 30) %}
                <td align="center"> <button class= "solicitado" style="height:36px;width:47px" type="submit">{{i+1}}</button> </td>
                {%endfor%}
                </tr>
                <tr>
                {% for i in range(30, 45) %}
                <td align="center"> <button class= "solicitado" style="height:36px;width:47px" type="submit">{{i+1}}</button> </td>
                {%endfor%}
                </tr>
                <tr>
                {% for i in range(45, 60) %}
                <td align="center"> <button class= "solicitado" style="height:36px;width:47px" type="submit">{{i+1}}</button> </td>
                {%endfor%}
                </tr>                   
                <tr>
                {% for i in range(60, 75) %}
                <td align="center"> <button class= "solicitado" style="height:36px;width:47px" type="submit">{{i+1}}</button> </td>
                {%endfor%}
                </tr>                             
                <tr>
                {% for i in range(75, 90) %}
                <td align="center"> <button class= "solicitado" style="height:36px;width:47px" type="submit">{{i+1}}</button> </td>
                {%endfor%}
                </tr>                   
                <tr>
                {% for i in range(90, 105) %}
                <td align="center"> <button class= "solicitado" style="height:36px;width:47px" type="submit">{{i+1}}</button> </td>
                {%endfor%}                
                </tr>     
                <tr>
                {% for i in range(105, 120) %}
                <td align="center"> <button class= "solicitado" style="height:36px;width:47px" type="submit">{{i+1}}</button> </td>
                {%endfor%}
                </tr>                            
                <tr>
                {% for i in range(120, 135) %}
                <td align="center"> <button class= "solicitado" style="height:36px;width:47px" type="submit">{{i+1}}</button> </td>
                {%endfor%}
                </tr>                     
                <tr>
                {% for i in range(135, 150) %}
                <td align="center"> <button class= "solicitado" style="height:36px;width:47px" type="submit">{{i+1}}</button> </td>
                {%endfor%}
                </tr>                     
                <tr>
                {% for i in range(150, 165) %}
                <td align="center"> <button class= "solicitado" style="height:36px;width:47px" type="submit">{{i+1}}</button> </td>
                {%endfor%}
                </tr>                     
                <tr>
                {% for i in range(165, 180) %}
                <td align="center"> <button class= "solicitado" style="height:36px;width:47px" type="submit">{{i+1}}</button> </td>
                {%endfor%}
                </tr>                     
                <tr>
                {% for i in range(180, 195) %}
                <td align="center"> <button class= "solicitado" style="height:36px;width:47px" type="submit">{{i+1}}</button> </td>
                {%endfor%}
                </tr>                     
                <tr>
                {% for i in range(195, 210) %}
                <td align="center"> <button class= "solicitado" style="height:36px;width:47px" type="submit">{{i+1}}</button> </td>
                {%endfor%}
                </tr>                                                                                                             
        </tbody>
        </table>
  </main>  
  <!--
    {% for button in buttons %}
     if button.required
        <button class="desabilitado">Teste</button>
      else
        <button >Teste</button>

    {% endfor %}
    -->
<main role="main" class="container" align="center">
<br>
<h1><span>Pagamento</span></h1>

<div class="grid-container">
  <div class="grid-item">
    <h2 style="color:brown">Banco Inter</h2>
    <h2 style="color:brown">Agência: 0001</h2>
    <h2 style="color:brown">Conta: 1924306-5</h2>
    <h2 style="color:brown">Favorecido: Caroline Miranda Baranowski</h2>
  </div>
  <div class="grid-item">
    <h2 style="color:brown">Banco Santander</h2>
    <h2 style="color:brown">Agência: 3731</h2>
    <h2 style="color:brown">Conta: 01041897-8</h2>
    <h2 style="color:brown">Favorecido: Caroline Baranowski</h2>
  </div>
</div>
<br>
<br>

<a class="btn btn-lg btn-primary" href="/cadastro" role="button">Comprar &raquo;</a>
<a class="btn btn-lg btn-primary" href="/comprovante" role="button">Já pagou e quer enviar o comprovante? Clique aqui! &raquo;</a>
<br>
<br>
</main>  
{% endblock %}