{% extends 'index.html' %}

{% block conteudo %}

  
  <main role="main" class="jumbotron">
    <div class="container">  
      <h1 align="center">Cartelas Disponíveis!</h1>  
        <table class="table table-striped">
        <tbody>          
                <tr>                
                {% for i in range(15) %}
                <td> <button type="submit">{{i+1}}</button> </td>
                {%endfor%}
                </tr> 
                <tr>
                {% for i in range(15, 30) %}
                <td> <button type="submit">{{i+1}}</button> </td>
                {%endfor%}
                </tr>
                <tr>
                {% for i in range(30, 45) %}
                <td> <button type="submit">{{i+1}}</button> </td>
                {%endfor%}
                </tr>
                <tr>
                {% for i in range(45, 60) %}
                <td> <button type="submit">{{i+1}}</button> </td>
                {%endfor%}
                </tr>                   
                <tr>
                {% for i in range(60, 75) %}
                <td> <button type="submit">{{i+1}}</button> </td>
                {%endfor%}
                </tr>                             
                <tr>
                {% for i in range(75, 90) %}
                <td> <button type="submit">{{i+1}}</button> </td>
                {%endfor%}
                </tr>                   
                <tr>
                {% for i in range(90, 105) %}
                <td> <button type="submit">{{i+1}}</button> </td>
                {%endfor%}                
                </tr>     
                <tr>
                {% for i in range(105, 120) %}
                <td> <button type="submit">{{i+1}}</button> </td>
                {%endfor%}
                </tr>                            
                <tr>
                {% for i in range(120, 135) %}
                <td> <button type="submit">{{i+1}}</button> </td>
                {%endfor%}
                </tr>                     
                <tr>
                {% for i in range(135, 150) %}
                <td> <button type="submit">{{i+1}}</button> </td>
                {%endfor%}
                </tr>                     
                <tr>
                {% for i in range(150, 165) %}
                <td> <button type="submit">{{i+1}}</button> </td>
                {%endfor%}
                </tr>                     
                <tr>
                {% for i in range(165, 180) %}
                <td> <button type="submit">{{i+1}}</button> </td>
                {%endfor%}
                </tr>                     
                <tr>
                {% for i in range(180, 195) %}
                <td> <button type="submit">{{i+1}}</button> </td>
                {%endfor%}
                </tr>                     
                <tr>
                {% for i in range(195, 210) %}
                <td> <button type="submit">{{i+1}}</button> </td>
                {%endfor%}
                </tr>                                                                                                             
        </tbody>
        </table>
      <div align="center"></div>
    </div>
  </main>  


{% endblock %}