<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>{{user.nome}}</p>
    <p>{{user.dataNascimento}}</p>
    <p>{{user.naturalidade}}</p>
    <p>{{user.cpf}}</p>
    <p>{{user.email}}</p>
    <p>{{user.celular}}</p>
    <p>{{user.residencial}}</p>
    <p>{{user.cep}}</p>
    <p>{{user.estado}}</p>
    <p>{{user.cidade}}</p>
    <p>{{user.bairro}}</p>
    <p>{{user.rua}}</p>    
    <p>{{user.numero}}</p>
    <p>{{user.complemento}}</p>
    <p>{{user.escolhidos}}</p>               
</body>
</html>