<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site Carol</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/sticky-footer-navbar.css"/>
    <style type="text/css">
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="/">Loteria dos Automóveis</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
  
    <ul class="navbar-nav mr-auto">     
      <li class="nav-item">
        <a class="nav-link" href="/sobre">Sobre</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/comofunciona">Como Funciona</a>
      </li>      
      <li class="nav-item">
        <a class="nav-link" href="/compreasua">Compre Seu Número</a>
      </li>      
    </ul>
    
  </div>
      
</nav>
<!--
<main role="main" class="container">
    <form action="/criar-usuario" method="POST">
        <input type="text" placeholder="email" name="email"><br />
        <input type="password" placeholder="senha" name="password"> <br />
        <button type="submit">Criar</button>
    </form>
</main>
-->
  <div class="container">   
  <br>
  <br>

      <h1>Oportunidade de Adquirir seu Automóvel!</h1>
      <h3 style="color:brown" class="lead">Se você deseja enfim realizar o sonho de ter seu altomóvel essa é sua oportunidade.<br> Para participar é muito simples, você compra uma cartela e concorre! </h3>
      <a class="btn btn-lg btn-primary" href="comofunciona" role="button">Clique para mais informações &raquo;</a>
  </div>
<footer class="footer fixed-bottom">
            <div class="container">
                <span class="text-muted">Desenvolvido por Eduardo Baranowski</span>
            </div>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="../assets/dist/js/bootstrap.bundle.js"></script>    
</body>
</html>